# ─── Base de datos ────────────────────────────────────────────────────────────
# Railway provee MONGODB_URI automáticamente al conectar el plugin MongoDB
MONGODB_URI=mongodb://user:pass@host:27017/rrhh?authSource=admin
MONGODB_DB=rrhh

# ─── App ──────────────────────────────────────────────────────────────────────
PORT=3005
NODE_ENV=development

# ─── Seguridad ────────────────────────────────────────────────────────────────
NUXT_JWT_SECRET=cambia_esto_por_un_secreto_seguro
